{% extends "base.html" %}
{% block title %}
	signup_page
{% endblock %}
{% block body %}
<h1 align="center" >SignUP page</h1>
<div class="container" >
	<form method="POST">
	  <div class="col-md-6">
	    <label for="email" >Email address</label>
	    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
	    
	  </div>

	  <div class="col-md-6">
	    <label for="username" >Username</label>
	    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
	    
	  </div>

	  <div class="col-md-6">
	    <label for="password" class="form-label">Password</label>
	    <input type="password" class="form-control" name="password" id="password" placeholder="password">

	    <label for="re-password" class="form-label">Re-Password</label>
	    <input type="password" class="form-control" name="re-password" id="re-password" placeholder="Re-Enter Password">

	  </div>
	  <div class="mt-3 form-check">
	  <button type="submit" class="btn btn-primary">
	  	Sign In
	  </button>
	  </div>
	</form>
</div>
{% endblock %}